$header-color:  $red-light;

.header {
  @include e('title') {
    position: absolute;
    top: -155px;
    width: 100%;
    font-weight: 100;
    font-size: rem(100);
    text-align: center;
    color: $header-color;
  }
}
